@media (max-width: 991px) and (min-width: 320px) {
    :root {
        --main-text-size: 37px;
        --secondary-text-size: 10px;
        --header-text-size: 26px;
        --content-text-size: 12px;
        --card-header-text-size: 12px;
        --program-card-header-text-size: 14px;
        --stufy-format-secondary-text-size: 10px;
    }

    .container {
        padding: 21px 10px 0;
        margin-bottom: 0;
        border-radius: 5px;
        background-color: beige;
    }

    .top-info {
        margin-top: 0;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 29px;
        width: 60%;
        display: flex;
        justify-content: space-between;
    }

    .study {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: var(--content-text-size);
        width: 100%;
    }

    .program-card {
        margin: auto;
        width: 70%;
        /* width: 100%; */
        background: #FFFFFF;
        box-shadow: 1px 1px 15px rgb(0 0 0 / 25%);
        border-radius: 30px;
        margin-bottom: 20px;
    }

    .qolos {
        width: 50%;
        min-width: 40%;
    }

    .program-card-image {
        width: 100%;
        height: 120px;
    }

    .rectangle {
        width: 225.36px;
        height: 93.19px;
    }

    .rectangle:nth-child(1) {
        font-family: 'Roboto Slab', serif;
        font-weight: 400;
        font-size: var(--card-header-text-size);
    }

    .program-card .content {
        padding: 5px 11px 30px 20px;
        font-size: var(--program-card-secondary-text-size);
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .how {
        display: flex;
        flex-direction: column;
        margin-bottom: 87.62px;
        justify-content: space-between;
    }

    .footer_left {
        visibility: hidden;
        width: 0;
    }

    .operator-footer {
        visibility: hidden;
        width: 0;
    }

    .abount-course-content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .abount-course-content .head {
        width: 100%;
        margin: 0;
    }

    .abount-course-content .operator {
        width: 100%;
        margin: 0;
    }

    .operator_main {
        position: relative;
        z-index: 2;
        width: 50%;
    }

    .footer_main {
        margin-left: 0px;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .program {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        padding-bottom: 121px;
    }

    .c-card {
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        width: 93%;
        height: 248px;
        left: 0;
        top: 0;
    
        padding: 10px 10px;
    
        background-color: #FFFFFF;
        box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
    }

    .congratulation-rectangle {
        background-color: #EFEFEF;
        padding: 0;
        padding-top: 91px;
        padding-bottom: 111px;
    }

    .c-text {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-style: normal;
        line-height: 20px;
        font-size: var(--secondary-text-size);
        width: 100%;
    }

    .madama-right {
        display: flex;
        flex-direction: row;
    }

    .madama {
        width: 84px;
        height: 80px;
        margin-right: 10px;
    }

    .price-rectangle {
        font-family: 'Roboto', sans-serif;
        background-color: #9DC9C8;
        padding-top: 91px;
        padding-bottom: 91px;
        padding: 10px 10px;
    }

    .price-card {
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
        width: 48%;
        margin: 0;
    }

    .stufy-format {
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .secont-card {
        width: 90%;
        word-wrap: break-word;
    }

    footer {
        display: flex;
        flex-direction: column;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        background-color: black;
        color: white;
        padding: 10px 10px;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
    }
}